.h1 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 38px;
  line-height: 1.15;
  margin: 0;
  text-transform: uppercase;
}

.h2 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}
